body{
    font-family: 'Rubik', sans-serif;
}

p{
    color: #777;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.form-control{
    height: 50px;
    border-radius: 0;
}

textarea.form-control{
    height: 150px;
}

.form-control:focus{
    border-color: #E94057;
    box-shadow: 7px 7px 0 rgba(233,75,83,0.3);
}

.btn{
    color: #fff;
    background-color: #333;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:focus{
    color: #fff;
    background-color: #E94057;
    box-shadow: 7px 7px 0 rgba(233,75,83,0.3);
}

#header{
    background: linear-gradient(#E94057,#fff);
    padding: 150px 25px 100px;
}

.navbar{
    padding: 20px;
    margin: 0 0 70px;
    box-shadow: 0 7px 0 rgba(0,0,0,0.05),0 15px 0 rgba(0,0,0,0.05);
}

.navbar-nav .nav-item{
    margin: 0 30px;
}

.navbar-nav .nav-link{
    color: #111 !important;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    padding: 0 !important;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active{
    color: #E94057 !important;
}

.navbar-nav .nav-link:after{
    content: '';
    background-color: #E94057;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}

.navbar-nav .nav-link:hover:after,
.navbar-nav .nav-link.active:after{
    transform: scaleX(1);
}

.navbar-nav .nav-link i{
    font-size: 20px;
    margin: 0 0 5px;
    display: block;
}

#header .user-info{
    background: linear-gradient(to bottom,transparent,transparent 110px,#fff 110px);
    text-align: center;
    padding: 0 25px 35px;
}

#header .user-info .user-img{
    background-color: #fff;
    width: 220px;
    height: 220px;
    padding: 20px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}

#header .user-info .user-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

#header .user-info h2{
    color: #333;
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 5px;
}

#header .user-info h4{
    color: #E94057;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 20px;
}

#header .user-info ul{
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
}

#header .user-info ul.social-contact{
    margin: 0;
}
#header .user-info ul.social-contact li{
    margin: 0 2px;
    display: inline-block;
}

#header .user-info ul.social-contact a{
    color: #fff;
    background-color: #E94057;
    font-size: 14px;
    line-height: 32px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
}

.section-head{
    margin: 0 0 25px;
}

.section-head h2{
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.section-head h2:before{
    content: '';
    background-color: #E94057;
    height: 10px;
    width: 50px;
    margin: 0 0 10px;
    display: block;
    clear: both;
}

.section-head ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.section-head ul li{
    font-size: 15px;
    margin: 0 0 0 10px;
    display: inline-block;
}

.section-head ul li a{
    color: #333;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}

.section-head ul li a:hover,
.section-head ul li .active{
    color: #E94057;
}

.service-box{
    padding: 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.service-box i{
    color: #E94057;
    font-size: 35px;
    margin: 0 0 25px;
}

.service-box h4{
    color: #222;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 5px;
}


.skill-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.skill-list li{
    color: #E94057;
    background: linear-gradient(135deg,transparent,#ddd);
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
    border: 5px solid #fff;
    width: 250px;
    padding: 20px;
    margin: 0 10px 10px 0;
    border-radius: 50px;
    box-shadow: 4px 4px 0 #E94057;
    display: inline-block;
}

#portfolio-section{
    background: repeating-linear-gradient(135deg,transparent,transparent 10px,#eee 10px,#f5f5f5 20px);
}

.project-box{
    padding: 15px;
    margin: 0 0 10px;
    position: relative;
    z-index: 1;
}

.project-box:after{
    content: '';
    height: 90%;
    width: 90%;
    border: 7px solid #ddd;
    position: absolute;
    left: 40px;
    top: 30px;
    z-index: -1;
}

.project-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.project-modal-box img{
    width: 250px;
    margin: 0 25px 0 0;
}

.project-modal-box h4{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
}

#experience-section{
    /* border: 1px solid #000; */
}

.experience-box{
    padding: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2) inset;
}

.experience-box span{
    font-size: 15px;
    margin: 0 0 5px;
    display: block;
}

.experience-box span.designation{
    font-size: 20px;
    font-weight: 600;
}

.experience-box span.company{
    color: #E94057;
    font-size: 16px;
    text-transform: uppercase;
}

.testimonial-box{
    color: #000;
    text-align: center;
    padding: 35px 25px 15px;
    margin: 0 0 20px;
    border: 10px solid #eee;
}
.testimonial-box img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 0 5px;
}

.testimonial-box h4{
    color: var(--hover-color);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

#footer{
    color: #fff;
    background-color: #E94057;
    text-align: center;
    padding: 15px;
}

#footer a{
    color: #fff;

}