body{
    font-family: 'Prompt', sans-serif;
}

p{
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
}

.btn{
    color: #fff;
    background-color: #222;
    transition: all 0.3s ease 0s;
}

.btn:focus,
.btn:hover{
    color: #222;
    background-color: #999;
    box-shadow: none;
}

.text-span{
    color: #999;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 30px;
    display: block;
}

#wrapper{
    padding-top: 80px;
}

#header{
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid #ddd;
    backdrop-filter: blur(5px);
}

.nav-item{
    margin: 0 15px 0 0;
}   
.nav-link{
    color: #222;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 !important;
    position: relative;
}

.nav-link:after{
    content: '';
    background-color: #222;
    height: 2px;
    width: 100%;
    transform: scale(0);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
}

.nav-link:hover:after{
    transform: scale(1);
}

.header-contact-info{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-contact-info li{
    color: #222;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin: 0;
}

.header-contact-info li:nth-child(even){
    margin-left: 48px;
    padding-left: 50px;
    border-left: 2px solid #222;
}


#user-section img{
    width: 100%;
}

#user-section h1{
    color: #222;
    font-size: 55px;
    font-weight: 400;
    line-height: 66px;
    text-transform: capitalize;
    margin: 0;
}

section h2{
    color: #222;
    font-size: 40px;
    font-weight: 400;
    line-height: 55px;
    text-transform: capitalize;
    margin: 0;
}

.service-box{
    padding-bottom: 60px;
    margin: 0 0 60px;
    border-bottom: 1px solid #999;
}

.service-box h3{
    color: #222;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 20px;
}

.service-box h3 i{
    font-size: 18px;
}

#portfolio-section{
    background: linear-gradient(135deg,transparent,#eee);
}

.portfolio-box{
    text-decoration: none;
    padding: 0 0 25px;
    margin: 0 0 45px;
    border-bottom: 2px dashed #ddd;
}

.portfolio-box .portfolio-img{
    margin: 0 0 15px;
    position: relative;
}

.portfolio-box .portfolio-img:before,
.portfolio-box .portfolio-img:after{
    content: '';
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    transform: scale(0);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
}

.portfolio-box .portfolio-img:after{
    content: '+';
    color: #fff;
    background-color: transparent;
    font-size: 80px;
    line-height: 35px;
    height: auto;
    width: auto;
    transform: translateX(-50%) translateY(-50%) scale(0);
    left: 50%;
    top: 50%;
}

.portfolio-box .portfolio-img:hover:before{
    transform: scale(1);
}

.portfolio-box .portfolio-img:hover:after{
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.portfolio-box img{
    width: 100%;
}

.project-modal-box img{
    width: 200px;
    margin: 0 25px 0 0;
}

.project-modal-box p{
    margin: 0 0 20px;
}

.portfolio-box h3{
    color: #222;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}

.skill-box{
    padding: 20px;
    margin: 0 0 50px;
    border: 5px dotted #ddd;
    border-left: none;
    border-top: none;
}

.skill-box h3{
    color: #222;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 15px;
}

.testimonial-box h3{
    color: #222;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    font-style: italic;
    margin: 0;
}

.testimonial-box p{
    color: #222;
    font-size: 22px;
    margin: 0 0 25px;
}

.testimonial-box span{
    color: #777;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}

.owl-nav button{
    font-size: 40px !important;
    font-weight: 300;
    line-height: 40px;
    margin: 0 10px 0 0;
}

.experience-box{
    padding: 25px 35px;
    margin: 0 0 30px;
    box-shadow: 10px 2px 0 2px rgba(0,0,0,0.1) inset;
}

.experience-box span{
    color: #222;
    font-size: 15px;
    margin: 0 0 1px;
    display: block;
}

.experience-box span.designation{
    font-size: 22px;
}

.experience-box span.company{
    font-size: 16px;
    text-transform: uppercase;
}



#contact-section{
    background: repeating-linear-gradient(45deg,#fff,#fff 25px,#f5f5f5 25px, #f5f5f5 35px);
}

#contact-section .footer-email{
    color: #222;
    font-size: 17px;
    font-weight: 400;
}

.footer-social{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social li{
    margin: 0 10px 0 0;
    display: inline-block;
}

.footer-social li a{
    color: #222;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}

.footer-social li a:hover{
    color: #999;
}

#footer{
    color: #222;
    font-size: 15px;
    text-decoration: none;
}

#footer a{
    color: #222;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#footer a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 990px){
    #user-section h1{
        font-size: 33px;
        line-height: 47px;
    }

    #about-section h2{
        font-size: 26px;
        line-height: 38px;
    }
}

@media only screen and (max-width: 767px){
    #user-section h1{
        font-size: 25px;
        line-height: 35px;
        margin: 0 0 30px;
    }

    #about-section h2{
        font-size: 24px;
        line-height: 36px;
    }

    section h2{
        font-size: 28px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 479px){
    .navbar{
        padding: 15px 0 !important;
    }
    .header-contact-info{
        display: block !important;
    }

    .header-contact-info li{
        font-size: 16px;
        text-align: right;
    }

    .header-contact-info li:nth-child(even){
        padding-left: 0;
        margin: 5px 0 0 0;
        border: none;
    }
}

