name: Deploy Static Documentation to GitHub Pages

on:
  push:
    branches:
      - main   # ganti jika branch kamu bukan main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload documentation artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: documentation   # folder static kamu

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
